<div class="p-5 m-4 bg-light rounded-3 text-dark">
  <h3>Create new list</h3>
  <%= simple_form_for @list do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
</div>
