<div class="featured">
  <h2>Title</h2>
  <div class="featured__buttons">
    <button class="button__play"><i class="fas fa-play"></i>Play</button>
    <button>My List</button>
  </div>
  <div class="featured__description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tristique
    magna magna, vit...
  </div>
</div>
<div class="netflixOriginals">
  <div class="original__header">
    <h2>NETFLIX ORIGINALS</h2>
  </div>
  <div class="original__movies">
    <!-- Orignal Movies List Here -->
    <% @movies.each do |movie| %>
      <%= image_tag  movie.poster_url , alt: "text" , class: "movie-img" %>
    <% end %>
  </div>
</div>
<div class="movies">
  <div class="movies__header">
    <h2>Wishlist</h2>
  </div>
  <div id="wishlist" class="movies__container">
    <% @movies.each do |movie| %>
      <%= image_tag  movie.poster_url , alt: "text" , class: "movie-img" %>
    <% end %>
  </div>
  <div class="movies__header">
    <h2>Trending Now</h2>
  </div>
  <div id="trending" class="movies__container">
    <!-- Trending Movies List Here -->
  </div>
  <div class="movies__header">
    <h2>Top Rated</h2>
  </div>
  <div id="top_rated" class="movies__container">
    <!-- Top Rated Movies List Here -->
  </div>
</div>
