.original__movies {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  display: flex;
  overflow-x: scroll;
  overflow: hidden;
  img {
    margin-right: 10px;
    height: 250px;
    width: auto;
    transition: all 0.2s ease-out;
    cursor: pointer;
    width: 100px;
    &:hover {
      transform: scale(1.1);
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.netflixOriginals {
  h2 {
    padding-left: 30px;
  }
}
img {
  width: 100px;
}

.movies__container {
  padding-left: 50px;
  display: flex;
  overflow-x: scroll;
  overflow: hidden;

  // img {
  //   transition: all 0.2s ease-out;
  //   cursor: pointer;
  //   margin-right: 10px;
  //   // width: 200px;
  //   &:hover {
  //     transform: scale(1.1);
  //   }
  // }

  .card-category {
    background-size: cover;
    background-position: center;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    margin-right: 10px;
    width: 100px;
    transition: all 0.2s ease-out;
    cursor: pointer;
    margin-right: 10px;
    // width: 200px;
    &:hover {
      transform: scale(1.1);
    }
  }
}
